:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --background-color: #F5F5F5;
    --accent-color: #2196F3;

}

.link { 
    text-decoration: none;
 }

 .list {
    list-style: none;
}

.img {
    display: block;
}

.h2{
    display: none;
}



h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.conteiner {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}


/* основной текст #757575*/
/* вторичный цвет текста #212121*/
/* цвет фона #F5F5F5*/
/* акцент #2196F3*/

/*header*/

.main-header {
    background-color: #FFFFFF;
}

.work {
    background-color: #FFFFFF;
}

.team {
    background-color: #F5F4FA;
}

body {
font-family: 'Roboto', sans-serif;
color: var(--primary-text-color);
font-size: 14px;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-black {
    color: var(--secondary-text-color);
}

.logo-white {
    color: #FFFFFF;
}



.menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
}

.content-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 50px;

}

.contact {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: auto;
}


.menu .current {
    color: var(--accent-color);
}
        
.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}



.menu-link {
    color: var(--secondary-text-color);
}

.contact-mail {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-tel {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-tel:hover,
.contact-tel:focus {
    color:var(--accent-color);
}

.contact-mail-footer:hover,
.contact-mail-footer:focus {
    color: var(--accent-color);
}

.contact-tel-footer:hover,
.contact-tel-footer:focus {
    color: var(--accent-color);
}

.contact-adress:hover,
.contact-adress:focus{
    color:var(--accent-color);
}

/*    Hero    */

.hero {
    background-color: #2F303A;
    text-align: center;
}



.hero-title {
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: 30px;
}

.hero-content {
    align-items: center;
}

.modal-button {
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: #188CE8;
    cursor: pointer;
}

/* work*/

.content-work{

}

.benefits-list {
    display: flex;
        align-items: center;
        column-gap: 30px;
        padding-top: 94px;
        padding-bottom: 94px;
}

.section-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}


.work-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.benefits-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*about*/

.img-list {
    display: flex;
    column-gap: 30px;
    margin-bottom: auto;
    margin-top: 50px;
}

.about {
    margin-bottom: 94px;
}

/* team */

.personal-list {
    display: flex;
    column-gap: 30px;
}

.img-team {
    margin-bottom: 30px;
}



.content-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.personal-title {
   font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--secondary-text-color)
    
}

.personal-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

/*  Portfolio  */

.content-header-portfolio {
    display: flex;
    align-items: center;
    margin-bottom: 94px;
}

.projects-content{
    margin-bottom: 94px;
   
}

    

/*.projects {
    background-color: #F5F5F5;
}*/

.filter {
    display: flex;
   justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    flex-basis: calc(100%-60/3);
    border-bottom: 1px solid #EEEEEE;

}

.projet-img {
    margin-bottom: 30px;
}




.button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   cursor: pointer;
   color: var(--secondary-text-color);
   background-color: #F5F4FA;
}

.filter .current {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.project-title {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
}
.project-text {
    
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-right: 24px;
    margin-left: 24px;
    padding-bottom: 20px;
}

/* footer */

.content-footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
}

.contact-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact {
    font-style: normal;
}

.contact-footer {
    margin-bottom: auto;
    gap: 9px;
}

.contact-mail-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact-tel-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-top: 60px;
    margin-bottom: 20px;

}

.footer {
    background-color: #2F303A;
}

/*.logo-footer {
    margin-top: 60px;
    margin-bottom: 20px;
}*/